<!DOCTYPE html>
<html lang="en" dir="ltr">
    <body>  
       <div class="content">
            <h1 style="text-align: center">Chrome reviews</h1>
            <div class="form">
                <form action="/predict" method="POST">
                
                    <input type="number" name="ID" id="ID" placeholder="ID">
                    <input type="number" name="Thumbs_Up" id="Thumbs_Up placeholder="Thumbs_Up">
                
        
                    <input type="submit" value="Predict">
                    
                </form>
            </div>
        </div>
    </body>
</html>